<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon Checkout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    {% if messages %}
    <div class="alert alert-success alert-dismissible">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <p class="h1">Thank you for your business !</p>
    <p class="h3">We charged your credit card for ${{some_order.total_price}}</p>
    <p class="h4">You have ordered {{total_ordered.total_ordered}} items so far and spent $ {{total_spent.total_spent}}
        with Amadon.com!</p>
    <p class="h5"><a href="/">Go Back</a></p>
</body>

</html>